<div class="row ">
    <div class="col d-flex flex-wrap justify-content-center">
        <h1 class="display-2" data-aos="fade-up" data-aos-easing="cubic" data-aos-duration="800" >About Us</h1>
        <div class="about-content">
            <h3 class="lead">
                talented, enthusiastic group of individuals striving to achieve technological success...
            </h3>
            <p class="lead">
                Computer Society University of Peradeniya is a society that is focused on building the next generation of technological experts in the field of Information Technology 
                by focusing on many extra-curricular activities that would improve the soft skills of students to face the challenges in the industry. Each year different events are
                organized by the society to uplift the standards and to help in building future Computer Science professionals. 
            </p>
        </div>
        <img class="d-flex justify-self-center" src="../../assets/teamwork_ill.png"/>
    </div>
</div>