<nav class="navbar navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="row dashboard-main row d-flex justify-content-center align-content-center">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <div class="list-group lis-group-flush">

          <a routerLink="./log-in" class="list-group-item list-group-item-action"> Membership Application</a>

          <a routerLink="./view-members" class="list-group-item list-group-item-action">View Members</a>

          <a href="#" class="list-group-item list-group-item-action">Manage Members</a>


        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>