<div class="row projects-main d-flex align-items-center justify-content-center">
  <div class="col-md-12 col-lg-6 col-sm-12" data-aos="fade-right" data-aos-easing="ease-in-out-sine" data-aos-duration="1000"> 
    <h1 class="display-1 d1">Our</h1>
    <h1 class="display-1 d2"> Projects</h1>
  </div>
  <div class="col-lg col-md-6 col-sm-12">
      <div class="card justify-content-center align-items-center" data-aos-delay="250" data-aos="flip-left" data-aos-easing="ease-in-out-quad" data-aos-duration="1300">
        <img src="../../assets/simcr.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Industry Expectations Webinar</h5>
          <a href="#" class="btn btn-primary">More</a>
        </div>
      </div>
    </div>
  <div class="col-lg col-md-6 col-sm-12">
    <div class="card justify-content-center align-items-center" data-aos-delay="250" data-aos="flip-left" data-aos-easing="ease-in-out-quad" data-aos-duration="1300">
      <img src="../../assets/industry.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Stay tuned</h5>
        <a href="#" class="btn btn-outline-light">More</a>
      </div>
    </div>
  </div>
</div>