<div class="row d-flex justify-content-center align-content-center">
    <div class="col col-12 col-md-4">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title"> Sign In </h5>
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </form>
                <div class="card-body">
                        <button type="button" class="btn btn-primary btn-block"> Sign In </button>
                </div>

                <p> Forgot your password? <a href="#">Click here</a></p>

            </div>
        </div>
    </div>
</div>