<div class="row">
    <div class="col d-flex align-items-center">
        <h1 class="display-1" data-aos="fade-right" data-aos-delay="150" data-aos-easing="ease-in-out-quad"
            data-aos-duration="1000">
            Learning Tools
        </h1>
    </div>
    <div class="col d-flex align-items-center">
        <p class="lead">
        </p>
    </div>
</div>
<div class="row d-flex align-items-stretch justify-content-center">
    <div class="col-3">
        <div class="card">
            <img src="../../assets/learning-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Git: The Simple Guide</h5>
                <p class="card-text">Author: Roger Dudler <br /> Source: github</p>
                <a href="#" class="btn btn-clear">Read Article</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="../../assets/learning-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Rxjs the Basics</h5>
                <p class="card-text">Author: Brian Love <br /> Source: www.brianlove.com</p>
                <a href="#" class="btn btn-clear">Read Article</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="../../assets/learning-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Angular Components</h5>
                <p class="card-text">Author: Jeff Delaney <br /> Source: www.angularfirebase.com</p>
                <a href="#" class="btn btn-clear">Read Article</a>
            </div>
        </div>
    </div>
</div>