/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
body{
    .display-1,.display-2{
        font-family: 'Sulphur Point', sans-serif;
    }
}

body, html{
    margin:0;
    height:100vh;
}
